fastapi
uvicorn[standard]

streamlit

langchain
langgraph
langchain-core

langchain-google-genai
langchain-chroma
langchain-community

chromadb

google-generativeai

langchain-tavily

sqlalchemy

python-dotenv

pypdf
docx2txt

python-multipart

jinja2

requests

certifi

aiosqlite

langgraph-checkpoint-sqlite